.tl-timeline .tl-timenav-slider {
  background-color: black;
}
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content {
  background-color: dimgrey;
}
.tl-timemarker .tl-timemarker-active .tl-timemarker-content-container {
  background-color: dimgrey;
}
.tl-timemarker .tl-timemarker-line-left, .tl-timemarker .tl-timemarker-line-right {
  border-left: 1px solid dimgrey;
      box-shadow: 1px 1px 1px dimgrey;
}
.tl-timemarker .tl-timemarker-content-container {
    border: 1px solid dimgray;
    box-shadow: 1px 1px 1px dimgrey;
    }

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content.tl-timemarker-content-small .tl-timemarker-text h2.tl-headline {
	color: white;
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
	color: sandybrown;
}	
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick {
	color: seashell;
}
.tl-timeaxis .tl-timeaxis-content-container {
	background-color: brown;
}
.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title {
    text-shadow: 1px 1px 1px #FFF;
    color: brown;
}

.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title {
    text-shadow: 1px 1px 1px #FFF;
    color: brown;
    opacity: 0.75;
}    

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title {
    text-shadow: 1px 1px 1px #FFF;
    color: brown;
    opacity: 0.75;
}  

.tl-slide .tl-slide-scrollable-container {
	width: 100%;
}
.tl-slide .tl-slide-content-container .tl-slide-content {
	width: 100% !important;
}