.page1nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  z-index: 9002;
  font-size: 64px;
    color: snow;

}
.page2nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  z-index: 9002;
  font-size: 64px;
    color: snow;

}
.page3nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  z-index: 9002;
  font-size: 64px;
  color: snow;
}





.soup-title {
  font-size: 45px;
}

.soup-desc {
  font-size: 22px;
}
.soup-title > .letter {
  color: snow;
  font-weight: bolder;
  /*opacity: 0.5;*/
}
.soup-desc > .letter {
  color: brown;
  font-family: Pacifico, cursive;
  /*opacity: 0.5;*/
}
html, body {
/*  width: 100%;
  height: 100%;*/
  background-color: #EEE;
  color: #111;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#soup-container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  position: relative;
}

.letters-wrap {
  position: absolute;
  overflow: hidden;
  display: inline-block;
}
.letters-wrap.mutable {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.letters-wrap.mutable .letter {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 2s, top 2s, color 2s;
  /*color: "#AAA";*/
}
.letters-wrap.mutable .letter.active {
  /*color: "#111";*/
  z-index: 9001;
}
.letters-wrap.position-data {
  top: 50%;
  left: 50%;
  /*opacity: 0.1;*/
  visibility: hidden;
  transform: translate(-50%, -50%);
}

.segment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.letter {
  /*display: inline-block;*/
}

button {
  z-index: 9001;
  position: relative;
}


@keyframes example {
    0%   {opacity:1;}
    
    50%  {opacity: 0;}
    
    100% {opacity:1;}
}

.hello {
  animation-name : example;
  animation-duration : 2s;
}

@keyframes kaka {
    0%   {color:white;}
    
    50%  {color:orange;}
    
    100% {color:white;}
}

.animateColor {
  animation-name : kaka;
  animation-duration : 2s;
}

#imgWrapper {
  position:relative;
  width: 100%;
  height: 100%;
  margin:0 auto;
}

#imgWrapper img {
 
animation-name: imgWrapper4FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-direction: alternate;
   

}

@keyframes imgWrapper4FadeInOut {
  0% {
    opacity:1;
  }
  37.5% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  87.5% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

#imgWrapper img:nth-of-type(1) {
  animation-delay: 4s;
}
#imgWrapper img:nth-of-type(2) {
  animation-delay: 0s;
}
/*#imgWrapper img:nth-of-type(3) {
  animation-delay: 2s;
}
#imgWrapper img:nth-of-type(4) {
  animation-delay: 0;
}*/

/*.largerWidthThanParentDiv{
  width: 100%;
  left:0;
}

.smallerWidthThanParentDiv{
  height: 100%;
  left:28.064%;

}*/

.contactPage{
  display:inline;
}
/*iphone6 landscape*/
@media only screen and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2)
{ 
    .page1nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 3%;
      z-index: 9002;
      font-size: 64px;
    }
    .page2nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 24%;
      z-index: 9002;
      font-size: 64px;
    }
    .page3nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1%;
      z-index: 9002;
      font-size: 64px;
    }
}
/*iphone6 plus landscape*/
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3)
{  
    .page1nav {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0%;
        z-index: 9002;
        font-size: 64px;
    }
     .page2nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 18%;
      z-index: 9002;
      font-size: 64px;
    }
    .page3nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0%;
      z-index: 9002;
      font-size: 64px;
    }
}